# values.yaml (base)

image:
  repository: k8s-lab
  pullPolicy: IfNotPresent
  tag: ""   # diisi dari CI/CD via --set image.tag=...

containerPort: 3000

database:
  url: postgres://appuser:secret@postgres:5432/appdb?sslmode=disable

livenessProbe:
  httpGet:
    path: /health/live
    port: 3000
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /health/ready
    port: 3000
  initialDelaySeconds: 10
  periodSeconds: 10

serviceAccount:
  create: false

resources: {}

ingress:
  enabled: false

httpRoute:
  enabled: false

autoscaling:
  enabled: false

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}
