# values-prod.yaml

replicaCount: 4

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 300m
    memory: 512Mi
  limits:
    cpu: 600m
    memory: 1Gi

autoscaling:
  enabled: true
  minReplicas: 4
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70
