replicaCount: 4

image:
  repository: k8s-lab
  pullPolicy: IfNotPresent
  tag: "2.0"

# Port yang didengerin container Fiber
containerPort: 3000

service:
  type: NodePort
  port: 80
  nodePort: 30001

# DATABASE_URL akan dipakai oleh templates/secret.yaml
database:
  url: postgres://appuser:secret@postgres:5432/appdb?sslmode=disable

# Probes: liveness & readiness ke endpoint Fiber
livenessProbe:
  httpGet:
    path: /health/live
    port: 3000
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /health/ready
    port: 3000
  initialDelaySeconds: 10
  periodSeconds: 10

# Optional: matiin service account kalau gak butuh RBAC
serviceAccount:
  create: false

resources: {}

ingress:
  enabled: false

httpRoute:
  enabled: false

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}
